.mainContainer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    
    padding: 10px;

    @media (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
    }
}