// .recipe {
//     position: relative;
//     padding: 10px;
//     border: 1px solid lightgrey;
//     border-radius: 5px;

//     h1 {
      
//         padding: 0 0 10px 0;
//         margin: 0 0 10px 0;
//         border-bottom: 1px solid lightgray;
//         font-style: italic;
//     }

//     &__image {
//         width: 100%;

//         img {
//             border-radius: 5px;
//             width: 100%;
//             max-width: 300px;
//             max-height: 300px;          
//         }
//     }

//     &__row {
//         display: flex;

//         @media (max-width: 767px) {
//             flex-direction: column;
//             align-items: center;
//         } 
//     }

//     &__info {
//         display: flex;
//         flex-wrap: wrap;
//         gap: 10px;
//         padding-top: 10px;

//         span {
//             padding: 5px;
//             border: 0px transparent;
//             border-radius: 5px;
//             font-weight: 500;
//         }
//     }

//     &__col {
//         display: flex;
//         flex-direction: column;

//         h1 {
//             margin: 0 0 10px 0;
//         }

//         ul {
//             padding: 0 0 0 20px;
//             display: flex;
//             flex-direction: column;
//             gap: 10px;

//             @media (max-width: 767px) {
//                 padding: 0 0 0 5px;
//             } 
//         }

//         ul li {
//             padding: 0 0 0 15px;
//             color: darkslategray;
//             font-weight: 500;
//             position: relative;
//         }

//         ul li::before {
//             content: '';
//             position: absolute;
//             top: 5px;
//             left: 0;
//             width: 6px;
//             height: 6px;
//             background: darkslategrey;
//             border: 0px transparent;
//             border-radius: 3px;
//         }
//     }

//     &__cuisineType {
        
//         background: lightgreen;
//     }

//     &__dishType {
//         background: lightblue;
//     }

//     &__calories {
//         background: lightcoral;
//     }

//     &__nutrients {
//         margin: 10px 0 0 0;
//         display: flex;
//         gap: 10px;
//         flex-wrap: wrap;
   
//         span {
        
//             border: 0px transparent;
//             border-radius: 5px;
//             padding: 5px;
//             background: lightgoldenrodyellow;
//             font-weight: 500;
//         }
//     }

//     &__like {
//         position: absolute;
//         top: 0;
//         right: 0;
//         background: transparent;

//         img {
//             width: 40px;
//             height: 40px;
//         }
        
//     }

//     &__like:hover {
//         img {
//             transform: scale(1.1);
//         }
//     }
// }

// .small-col {
//     max-width: 300px;
// }

// .big-col {
// }

// .MuiCardMedia-img {
//     width: 100%;
// }

.MuiCardMedia-media {
    
}

.MuiCard-root {
    // width: 33.333%;
    // height: 100%;
    // border: 1px solid red;
}

.MuiCardContent-root {
    // height: 100%;
}

.MuiTypography-body1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;

    span {
        background: rgb(240, 240, 240);
        // border: 1px solid grey;
        border-radius: 5px;
        padding: 5px;
    }
}

// .MuiAlert-root {
//     position: absolute;
//     z-index: 10;
//     top: 0;
//     right: 0;
// }

.alert {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}