.MuiTypography-body1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;

    span {
        background: rgb(240, 240, 240);
        border-radius: 5px;
        padding: 5px;
    }
}

.alert {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}